.link
	position relative
	&_nav
		text-decoration none
		text-transform uppercase
		color header-color
	&_contact
		color header-color
		text-decoration underline
		transition 1s color
		&:hover
			color #818181
	&_csssr
		color #fff
		position absolute
		&:hover
			color #F2ECDE
			transition 1s color