section
	&:not(:last-child)
		margin-bottom 2rem
.about
	@media (min-width 36.25rem)
		display flex
		flex row
.column:not(:last-child)
	margin-bottom 1rem
	@media (min-width 36.25rem)
		margin-bottom 0
		margin-right 2rem
.column-wrap
	display flex
	flex-direction column
	// flex-wrap wrap
	// justify-content space-between
	// flex-basis 300px
	padding-top 1rem
	@media(min-width 370px)
		flex-direction row
		flex-wrap wrap
		justify-content space-around
.article-column
	position relative
	// max-width 300px
	margin-bottom 1rem
	@media(min-width 370px)
		// width 47%
		padding-top .9rem
		padding-bottom .9rem
		padding-left .9rem
		padding-right .9rem
		border-radius 1rem
		border 1px solid #e1e1e8
		display flex
		flex-direction column
	@media(min-width 640px)
		width 47%
	@media(min-width 920px)
		width 24%
.link-group
	display flex
	flex-direction column
	align-items center
	margin-top auto
.link_look
	line-height 1.4rem
	color #3c3c3c
	transition 1s color
	&:hover
		color #a7a7a7
		box-shadow 0 1px 0 0 #a7a7a7
		
.title
	font-weight bold
	line-height 2rem
	text-transform uppercase
	text-align center
p
	line-height 1.2rem
	&:not(:last-child)
		margin-bottom .5rem
img
	max-width 100%