.contacts-lists
  &__item:not(:last-child)
      margin-bottom 0.5rem
  @media (min-width 36.25rem)
    &__item
      &:not(:last-child)
        margin-right 2rem
    &__item:not(:last-child)
      margin-bottom 0rem