.header
	display block
	box-shadow 0 0 0 0 #000
	background-color rgba(44, 13, 0, .7)
	background-image url(bg-header)
	background-position 50%
	background-repeat no-repeat
	background-size cover
	background-attachment fixed
	color header-color
	padding-top 1rem
	// margin-bottom 2rem
	&__top
		display flex
		flex-direction column
		align-items center
		margin-bottom 1rem
	&__avatar
		border-radius 50%
		margin-bottom 1rem
		box-shadow 0px 0px 2px 2px white
	&__myname
		font-size 1.5rem
		line-height 1.7rem
	&__myprofession
		font-size 1.2rem
		line-height 1.4rem
