mixin header()
	+b('header').header&attributes(attributes)
		+e.top
			+img('avatar.jpg', 'Дмитриев Максим', '135', '135')(class='header__avatar')
			+e.H2.__myname Максим Дмитриев
			+e.H3.__myprofession HTML-верстальщик
		+b('nav').main-menu
			+e('ul').__lists
				+e('li').__item
					+link('#about',  '', 'Обо мне')(class='link_nav')
				+e('li').__item
					+link('#contacts', '', 'Контакты')(class='link_nav')
				+e('li').__item
					+link('#portfolio', '', 'Портфолио')(class='link_nav')
				+e('li').__item
					+link('https://tyumen.hh.ru/resume/2c50f0daff033630930039ed1f7a795a6f4e6c', '_blank', 'Я на hh.ru')(class='link_nav')
				+e('li').__item
					+link('https://htmlacademy.ru/profile/alte0', '_blank', 'Я на htmlacademy.ru')(class='link_nav')